.Nav-Desktop {
	width: 200px;
	display: flex;
	align-items: center;
}

.Nav-Desktop p{
	width: 100%;
	text-align: left;
	color: #808080;
}

.Nav-logo {
	width: 400px;
	display: flex;
	align-items: center;
}

.logo {
	height: 30px;
}

.Nav-User {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 200px;
}


.icon-home {
	width: 20px;
	height: 20px;
	margin: 0px;
	margin-left: 5px;
	background: url('../../images/icons.png')-20px 0px;
}
.icon-tools {
	width: 20px;
	height: 20px;
	margin: 0px;
	margin-left: 5px;
	background: url('../../images/icons.png')-40px 0px;
}
.icon-user {
	width: 20px;
	height: 20px;
	margin: 0px;
	margin-left: 5px;
	background: url('../../images/icons.png')-60px 0px;
}