.Footer {
	display: flex;
	width: 100%;
	height: 50px;
	border-top: 1px solid #ececec;

}

.NavFooter {
	width: 800px;
	display: flex;
}

.Copyright {
	width: 400px;
	display: flex;
	align-items: center;
}

.Copyright p {
	width: 100%;
	text-align: left;
	color: #808080;
}

.Action {
	padding: 5px 0px 5px 0px;
	width: 400px;
	display: flex;
}

.Clear {
	background: #ff0066;
	border-radius: 50px 0px 0px 50px;
	flex:1 1 auto;
	display: flex;
	align-items: center;
}

.Clear:hover {
	background: #d90057;
}

.CopyStep {
	background: #ffcc00;
	border-radius: 0px 50px 50px 0px;
	flex:1 1 auto;
	display: flex;
	align-items: center;
}

.CopyStep:hover {
	background: #dbaf00;
}

.icon-clear {
	width: 20px;
	height:  20px;
	background: url(../images/copy.png)0px 0px;
}

.icon-copy {
	width: 20px;
	height:  20px;
	background: url(../images/copy.png)-20px 0px;
}
